.page {
  width: 100%;
  background-color: #0e7ccf;
  padding: 10px;
  margin: auto;
  height: calc(100vh - 5px) !important;

}

.pagebody {
  width: 99%;
  background-color: #CCCCCC;
  
  
}

.sidemenu{
  padding: 1px;
  
}

.div-wrapper{
  background-color: #CCCCCC;
  padding: 0;
  width: 97vw !important;
  max-width: 97vw !important;
  border-radius: 9px;
  
}
.contenuto{
  background-color: #FEFEFE;
  padding: 0;
  width: 100%;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: calc(100vh - 20px) !important;
}

.contenuto-body{
  overflow-y: scroll;
  height: 88vh !important;
}

.menu-col {
  background-color: #CCCCCC;
  padding: 2px 5px;
  border-radius: 9px;
}
